<br>
<br>
<br>
<div class="center">
<br>
<br>
<h1>New user</h1>
<br>
<br>
<br>

<%= render "form", user: @user %>

<br>
<!--button-->
<div>
  <%= link_to "Go back", root_path %>
</div>
</div>
<br>
<br>
<br>