/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body.dark-mode {
   background-color: #1a1a1a;
   color: #f1f1f1;
 }
 
 .dark-mode h1, .dark-mode h2, .dark-mode h3 {
   color: #fff;
 }

.center{
 margin: auto; 
 width: 40%;
   }

.center2{
 margin: auto; 
 width: 80%;
   }
.orange-bg{
   background-color: #fd8f44;
}
.logo{
  margin-right: 20px;
  padding: 0;
  width:4% ;
  height:4%;
}
.header-margin{
   margin: 0;
   padding: 0;
}